.main-contact__form {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.form-subtitle {
    font-size: 3.2vh;
    font-weight: 500;
    margin: 3vh 0px 2vh 0;
    font-family: var(--text-h2);
}

form>input,
.form__message {
    font-family: var(--text-body);
    border: 2px solid #BAB8B8;
    margin: 5px 0px;
    height: 5vh;
    border-radius: 12px;
    padding: 0.7vh;
    font-size: 2vh;
}

.form__select {
    margin-left: 10px;
    outline: none;
    font-size: 2.2vh;
    width: min-content;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: var(--text-body);
}

.form__select:focus-within, .form__select:hover {
    color: var(--dark-blue);
}

.form__select:focus-visible,
.form__select:focus-within {
    border: var(--dark-blue) 2px solid;
}

.form__message {
    height: 20%;
    overflow: scroll;
    padding: 1vh;
    resize: none;
}

.form__message::-webkit-scrollbar {
    display: none;
}

.form__LGPD {
    font-family: var(--text-body);
    margin: 2vh 0;
    font-size: 1.5vh;
    color: #565656;
}

.form__LGPD input {
    margin: 1vh;
}

.form__btn {
    height: 5vh;
    align-self: flex-end;
    background-color: var(--blue);
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 15vw;
    font-weight: 600;
    font-size: 2vh;
}

.form__btn:hover {
    background-color: var(--blue-hover);
}

.form__btn:disabled {
    background-color: gray;
}

@media all and (max-width: 430px) {
    .main-contact__form {
        grid-row: 2;
    }

    .form__btn {
        height: 5vh;
        width: 30vw;
    }
}