<form action="./home.html" method="get" class="main-contact__form">
            <h2 class="form-subtitle">SOBRE VOCÊ</h2>
            <input type="text" placeholder="Nome Completo" required>
            <input type="email" placeholder="E-mail" required>
            <input type="text" placeholder="Telefone" required>
            <h2 class="form-subtitle">MENSAGEM</h2>
            
            <select class="form__select" name="messageType" id="messageType" required>
                <option value="" selected disabled>--Selecione o tipo de contato--</option>
                <option value="praise">Elogio</option>
                <option value="complaint">Reclamação</option>
                <option value="request">Solicitação</option>
            </select>
            <textarea 
                name="message" id="contactMessage" cols="1" rows="2" class="form__message"
                placeholder="Digite sua mensagem" required>
            </textarea>

            <section class="form__LGPD">
                <p>
                    Os dados serão mantidos em nossa base de dados, só enquanto for desejado por você. A
                    qualquer momento, será possível editar ou remover tais dados. 
                </p>
                
                <p><input type="checkbox" class="input-lgpd">Sim. Li e concordo com os <a href="https://www.ford.com.br/politica-de-privacidade/">Termos e Condições.</a></p>
                <p><input type="checkbox" class="input-lgpd">Sim. Também quero receber descontos e novidades.</p>
            </section>

            <button class="form__btn" id="sendBtn" type="submit" disabled>Enviar</button>

        </form>
