<img src="/img/background.jpg" alt="2025 Ford Bronco Stroppe Special Edition" class="background-img">

<div class="main">
  <img src="/img/ford-logo-blue.svg" alt="Logo da Ford" class="main__logo">

  <app-login-form class=></app-login-form>
</div>

<!-- <section class="left-section">
  <img src="/img/ranger.png" alt="Foto de uma Ranger" class="left-section__ranger">
</section>

<section class="right-section">
  <img src="/img/ford.png" alt="logo da ford" class="right-section__logo">

  <app-login-form></app-login-form>
</section> -->