:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
}

.main-home {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    font-size: 2.15vh;
}

.main-home__content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.btn-next, .btn-back {
    display: none;
    width: 4vh;
    height: 4vh;
    background-image: url("/img/arrow.png");
    background-size: cover;
    border: none;
}

.btn-back {
    rotate: -90deg;
}

.btn-stop {
    width: 15vw;
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 1vh;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 1.8vh;
    justify-self: flex-start;
}

@media all and (max-width: 480px) {

    .btn-stop {
        width: 30vw;
    }
}