.main-home {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    font-size: 2.15vh;
}

.main-home__content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btn-next, .btn-back {
    display: none;
    width: 4vh;
    height: 4vh;
    background-image: url("/img/arrow.png");
    background-size: cover;
    border: none;
}

.btn-back {
    rotate: -90deg;
}

.main-home__img {
    display: flex;
    width: 60vw;
    transition: scale 0.5s;
}

.main-home__img:hover {
    scale: 1.01;
}

.btn-next {
    rotate: 90deg;
}

.btn-stop {
    width: 15vw;
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 1vh;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 1.8vh;
    justify-self: flex-start;
}

@media all and (max-width: 430px) {
    
    .main-home__img {
        width: 90vw;
        height: 30vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .main-home__text {
        width: 60vw;
        text-align: center;
    }

    .btn-stop {
        width: 30vw;
    }
}

@media all and (max-width: 999px) and (min-width: 431px) {
    .main-home__img {
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
    }
}