<app-nav-bar></app-nav-bar>

<h1 class="page-title">Dashboard FORD</h1>

<section class="cards">
    <div class="card protected">
        <h2 class="card__title">Veículos</h2>
        <div class="card__content">
            <select (change)="onChangeSelect($event)">
                @for (car of cars; track car.id) {
                    <option value="{{ car.id }}">{{ car.vehicle }}</option>
                }
            </select>
        </div>
    </div>

    <app-card [title]="'Total de Vendas'" [value]="selectedCar.totalVolume"></app-card>
    <app-card [title]="'Conectados'" [value]="selectedCar.connected"></app-card>
    <app-card [title]="'Update Software'" [value]="selectedCar.softwareUpdates"></app-card>
</section>

<section class="car-model">
    <img src="{{ selectedCar.img }}" alt="Mustang Ford" class="car-img">
</section>

<section>
    <app-car-table
    [vin]="selectedCar.vin"
    [odometer]="vinInfos.odometer"
    [fuelLevel]="vinInfos.fuelLevel"
    [status]="vinInfos.status"
    [lat]="vinInfos.lat"
    [long]="vinInfos.long"
    ></app-car-table>
</section>